* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #121212, #1e1e1e);
}

.container {
    width: 100%;
    display: flex;
    max-width: 850px;
    background: rgba(33, 33, 33, 0.8);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.signup {
    width: 100%;
    max-width: 420px;
    padding: 20px;
    background: rgba(33, 33, 33, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

form {
    width: 100%;
    margin-top: 20px;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f31212;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

hr {
    border-top: 2px solid #f31212;
    margin: 20px 0;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #b3b3b3;
    font-size: 14px;
}

.logo img {
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}

form label {
    margin-top: 12px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #ddd;
}

input,
select {
    width: 100%;
    color: #fff;
    background: #333333;
    margin: 10px 0;
    outline: none;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #444444;
    transition: all 0.3s ease;
}

input:focus,
select:focus {
    border: 1px solid #f31212;
    box-shadow: 0 0 10px rgba(243, 18, 18, 0.5);
}

select option {
    color: #000;
    background: #ffffff;
}

button {
    border: none;
    outline: none;
    padding: 12px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    background: #f31212;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

button:hover {
    background: #e30b0b;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.4);
}

button a {
    color: #fff;
    text-decoration: none;
}

p a {
    color: #f31212;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #fff;
}

@media (max-width: 880px) {
    .container {
        width: 100%;
        max-width: 750px;
        margin: 0 20px;
        flex-direction: column;
        align-items: center;
    }

    .signup {
        width: 100%;
        padding: 30px;
        margin: 20px;
    }

    form {
        width: 100%;
        margin: 20px auto;
    }

    .logo img {
        width: 150px;
        margin: 20px auto;
    }

    button {
        width: 100%;
    }
}
